<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="helloandroid.example.com.autpix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/homescreenlbl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationMenu"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlayQuiz" />
        <activity android:name=".KidsSignup" />
        <activity
            android:name=".AddNewQuiz"
            android:label="@string/title_activity_add_new_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PCSignup" />
        <activity
            android:name=".EditQuestActivity"
            android:label="@string/title_activity_edit_quest"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>